*{
        margin: 0;
        padding: 0;
        text-align: center;
}
h1{
        background-color: #081b31;
        color: #fff;
        height: 5rem;
        line-height: 5rem; /* for centering acc y axis*/
}
.choice{
        height: 160px;
        width: 160px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
}
.choice:hover{
        /* opacity: 0.5; */
        cursor: pointer;
        background-color: #081b31;
}
img{
        height: 150px;
        width: 150px;  
        object-fit: cover; 
        border-radius: 50%;
}
.choices{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        margin-top: 5rem;
}
.score-board{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin-top: 3rem;
        gap: 3rem;

}
#user-score, #comp-score{
        font-size: 4rem;
}

.msg-container{
        margin-top: 30px;

}
#msg{
        background-color: #081b31;
        color: #fff;
        font-size: 2rem;
        display: inline;
        padding: 0.5rem;
        border-radius: 10px;
}

/*  RESPONSIVE CODE  */

@media(max-width:480px){
        h1{
                font-size: 1.9rem;/*change */
        }
        .choices {
                gap: 0.5rem;/*change */
                margin-top: 3rem;/*change */
        }
        .choice {
                height: 6rem;/*H and w change */
                width: 6rem;
        }
        img {
                height: 5rem;/* h and w change*/
                width: 5rem;
        }
        .score-board {
                font-size: 1rem;/*change*/
                margin-top: 2rem;/*change*/
                gap: 2rem;/*change*/
        }
}
@media(min-width:481px) and (max-width:786px){
        .choices {
                gap: 0.3rem;/*change */
                margin-top: 3rem;/*change */
        }
        .choice {
                height: 8.5rem;/*H and w change */
                width: 8.5rem;
        }
        img {
                height: 7rem;/* h and w change*/
                width: 7rem;
        }
        .score-board {
                font-size: 1.5rem;/*change*/
                margin-top: 2rem;/*change*/
                gap: 2rem;/*change*/
        }
}